
h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}


b { /* used for event dates/times */
  margin-right: 3px;
}

.div-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 10px;
}

.fc-toolbar {
  .fc-center h2 {
      font-size: 0.5em
  }
  display: block;
  text-align: center;
  @media (min-width: 600px) {
      display: flex;
  }
}

.button {
  margin-top: 27px;
}

/* Estilos para o loader */
/* Estilos para o loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid rgb(114, 124, 245); /* Azul claro */
  border-top: 16px solid rgb(57, 176, 218); /* Azul mais escuro */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Estilos específicos para telas com largura máxima de 768px (dispositivos móveis) */
@media screen and (max-width: 768px) {
  .button {
    margin-top: 20px; /* Reduz a margem para 0 em telas móveis */
  }
}

.demo-app-sidebar {
  width: auto;
  line-height: 1.5;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  margin: 0 auto;
  height: auto;
}

/* Oculta a barra de rolagem vertical */
.fc-scroller.fc-time-grid-container {
  overflow-y: hidden;
}
/* Estilo para o contêiner pai da agenda */
.full-calendar-container {
  height: 100vh; /* 100% da altura da viewport */
}

/* Estilo para o contêiner pai da agenda */
.div-app {
  height: 100vh; /* 100% da altura da viewport */
}

.legenda-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cor-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}
/* Defina as cores para cada status */
.cor-box.aguardando-aprovacao { background-color: coral; }
.cor-box.aguardando-pagamento { background-color: red; }
.cor-box.consulta-confirmada { background-color: green; }
.cor-box.consulta-finalizada { background-color: blue; }
.cor-box.outros-status { background-color: rgb(249, 255, 249); }

