<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="dialog-body">
          <nb-card>
            <nb-card-body>
              <form id="form-novo-paciente" [formGroup]="formDependente">
                <div class="col-md-12 col-xs-12">
                  <div class="form-row align-items-center">
                    <nb-card-header class="aditi-header">
                      <div class="back-link">
                        <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                          <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                        </a>
                      </div>
                    </nb-card-header>
                    <div class="form-group col-md-3">
                      <h5 class="pt-3">Novo Paciente</h5>
                    </div>
                  </div>   
                    <div class="form-row align-items-center">
                      <h6 class="p-1">Informações Gerais</h6>
                    </div>
                    <div class="form-group row pl-3">                     
                      <div class="col-md-5">                        
                        <div class="align-self-start">
                          <img src="{{this.avatar }}" style="height: 80px;"/>
                        </div>
                      </div>
                    </div>  
                    <div class="form-row align-items-center">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="imagemDep">Adicione sua foto</label>
                          <input class="form-control-file media-body" name="imagemDep" id="imagemDep" type="file"
                            formControlName="imagemDep" (change)="converterImagem($event, $event.target)"
                            value="imagemDep" />
                        </div>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-group col-md-6">
                        <label for="nomeDep">Nome do dependente</label>
                        <input class="form-control" name="nomeDep" id="nomeDep" type="text" formControlName="nomeDep" />
                      </div>
                      <div class="form-group col-md-2">
                        <label for="dateNascDep">Data de nascimento</label>
                        <div class="row pl-3">
                          <input class="date" type="date" id="dateNascDep" name="mydate" formControlName="dateNascDep"
                            maxlength="10"  (blur)="validaData($event.target.value)" />
                        </div>
                        <div *ngIf="showMsgErro" class="link-text pt-2" style="color: #dc3545;">
                          {{this.msgErro}} <br />
                        </div>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-group col-md-6">
                        <label for="nome">Nome da Mãe</label>
                        <input class="form-control" name="nomeResp01" id="nomeResp01" type="text"
                          formControlName="nomeResp01" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="nome">Nome do Pai</label>
                        <input class="form-control" name="nomeResp02" id="nomeResp02" type="text"
                          formControlName="nomeResp02" />
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-group col-md-3">
                        <label for="cpfDep">CPF</label>
                        <input class="form-control" name="cpfDep" id="cpfDep" type="text" formControlName="cpfDep" value="cpfDep"
                          mask="000.000.000-00" (change)="isValidCpf($event.target,formDependente.value)" />
                          <div *ngIf="showMsgErroCpf" class="link-text pt-2" style="color: #dc3545;">
                            {{this.msgErroCpf}} <br/>
                          </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="rgDep">RG</label>
                        <input class="form-control" name="rgDep" id="rgDep" type="text" formControlName="rgDep"
                          mask="00.000.000-0" />
                      </div>
                      <div class="form-group col-md-3">
                        <label class="mat-button mb-3">Sexo biologico:</label>
                        <div class="row">
                          <label class="radio-inline mr-3 pl-3">
                            <input class="mat-button" type="radio" id="radio" name="optradio" value="M"
                              (click)="viewdiv($event.target.value)">
                            Masculino</label>
                          <label class="radio-inline">
                            <input class="mat-button" type="radio" id="radio" name="optradio" value="F"
                              (click)="viewdiv($event.target.value)"> Feminino</label>
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="tipoSanguineo">Tipo sanguineo</label>
                        <select class="form-control" formControlName="tipoSanguineo">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let tipoSanguineo of listSanguino" value="{{ tipoSanguineo.id }}">{{
                            tipoSanguineo.descricao}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center pt-5 modal-footer">    
                    <div class="form-group col-md-2 mr-lg-n4">
                      <div class="form-group">
                        <div class="login_btn">
                          <button type="button" id="cadastrar" class="btn btn-success nb-custom-message-full-width"
                            (click)="cadastrarPaciente(formDependente.value)">Cadastrar</button>
                        </div>
                      </div>
                    </div>
                  </div>                
              </form>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
  
  <div #card>
    <div class="col-md-12 col-xs-12">
      <div class="row" *ngIf="isActive" class="loader">
        <div class="text-center" style="margin-top: -360px;margin-right: 40px;">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Carregando...
          </button>
        </div>
      </div>
    </div>
  </div>