<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body *ngIf="isCadastro">
            <form id="form-novo-paciente" [formGroup]="formDependente">
              <div class="col-md-12 col-xs-12">
                <div class="form-row align-items-center">
                  <nb-card-header class="aditi-header">
                    <div class="back-link">
                      <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                        <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                      </a>
                    </div>
                  </nb-card-header>
                  <div class="form-group col-md-3">
                    <h5 class="pt-3">Incluir novos Dependente</h5>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <h6 class="p-1">Dados do Responsável:</h6>
                </div>
                
                <div class="col-md-12">
                  <div class="form-row align-items-center">
                    <p class="card-text mb-0">Nome Responsável: {{ NewowData.name }}</p>
                    <p class="card-text mb-0">Telefone: {{ NewowData.cellPhone }}</p>
                    <p class="card-text mb-0">Email: {{ NewowData.email }}</p>
                    <p class="card-text mb-0">CPF: {{ NewowData.federalId }}</p>
                  </div>
                </div>
                
                

                <div class="form-row align-items-center">
                  <h6 class="p-1">Dados do Dependente:</h6>
                </div>                       

                <div class="form-row align-items-center">
                  <div class="form-group col-md-4">
                    <label for="nomeDep">Nome do Dependente*</label>
                    <input class="form-control" name="nomeDep" id="nomeDep" type="text" formControlName="nomeDep" />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="dateNascDep">Data de Nascimento*</label>
                    <input class="form-control" type="date" id="dateNascDep" name="mydate" formControlName="dateNascDep"
                      maxlength="10" (blur)="validaData($event.target.value)" />
                  </div>
                  <div class="form-group col-md-4 ali align-items-center">
                    <label class="mat-button mb-3">Sexo Biológico*</label>
                    <div class="row">
                      <label class="radio-inline mr-3 pl-3">
                        <input class="mat-button" type="radio" id="radio" name="optradio" value="M"
                          (click)="viewdiv($event.target.value)">
                        Masculino
                      </label>
                      <label class="radio-inline">
                        <input class="mat-button" type="radio" id="radio" name="optradio" value="F"
                          (click)="viewdiv($event.target.value)"> Feminino
                      </label>
                    </div>
                  </div>
                </div>
                              
                <div class="form-row align-items-center">
                  <div class="form-group col-md-3">
                    <label for="cpfDep">CPF (Opcional)</label>
                    <input class="form-control" name="cpfDep" id="cpfDep" type="text" formControlName="cpfDep"
                      value="cpfDep" mask="000.000.000-00" (change)="isValidCpf($event.target,formDependente.value)" />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="rgDep">RG (Opcional)</label>
                    <input class="form-control" name="rgDep" id="rgDep" type="text" formControlName="rgDep"
                      mask="00.000.000-0" />
                  </div>
                  <div class="form-group col-md-2">
                    <label for="tipoSanguineo">Tipo Sanguineo (Opcional)</label>
                    <select class="form-control" formControlName="tipoSanguineo">
                      <option value="null" selected>SELECIONE</option>
                      <option *ngFor="let tipoSanguineo of listSanguino" value="{{ tipoSanguineo.descricao }}">{{
                        tipoSanguineo.descricao}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row align-items-center pt-5 modal-footer">
                <div class="form-group col-md-2 mr-lg-n4">
                  <div class="form-group">
                    <div class="login_btn">
                      <button type="button" id="cadastrar" class="btn btn-success nb-custom-message-full-width"
                        (click)="cadastrarPaciente(formDependente.value)">Incluir</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
          <nb-card-body *ngIf="isVisualizar">
            <div class="col-md-12 col-xs-12">
              <div class="form-row align-items-center">
                <nb-card-header class="aditi-header">
                  <div class="back-link">
                    <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                      <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                    </a>
                  </div>
                </nb-card-header>
                <div class="form-group col-md-3">
                  <h5 class="pt-3">Visualizar Dependente</h5>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="form-group col-md-6">
                  <label for="tipoSanguineo">Nome: {{ this.nameMae }}</label>
                </div>
              </div>
              <div class="form-row align-items-center">

                <div class="form-group col-md-12">
                  <div class="app-box">
                    <ngx-datatable #myTable class="bootstrap" [rows]="rowData" [columnMode]="'force'"
                      [headerHeight]="35" [footerHeight]="50" [rowHeight]="'auto'"
                      [messages]="{emptyMessage: 'Sem dados...'}" [limit]="10">

                      <ngx-datatable-column name="Nome" prop="name">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-left">
                            {{ row.name }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Data nascimento" prop="birthDate">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center">
                            {{ row.birthDate }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="CPF" prop="cpf">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center">
                            {{ row.federalId }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Status" prop="status">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center">
                            {{ row.status }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                          <div>
                            <div class="page-count">
                              Total de Registros: {{rowCount}}
                            </div>
                          </div>
                          <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                            [pagerRightArrowIcon]="'fa fa-angle-double-right '" [pagerPreviousIcon]="'fa fa-angle-left'"
                            [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage" [size]="pageSize" [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                          </datatable-pager>
                        </ng-template>
                      </ngx-datatable-footer>
                    </ngx-datatable>
                  </div>
                </div>

              </div>
            </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<div #card>
  <div class="col-md-12 col-xs-12">
    <div class="row" *ngIf="isActive" class="loader">
      <div class="text-center" style="margin-top: -360px;margin-right: 40px;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando...
        </button>
      </div>
    </div>
  </div>
</div>