<div class="loader" *ngIf="isLoader"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body *ngIf="isCadastro">
            <form id="form-novo-paciente" [formGroup]="formDependente">
              <div class="col-md-12 col-xs-12">
                <div class="form-row align-items-center">
                  <nb-card-header class="aditi-header">
                    <div class="back-link">
                      <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                        <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                      </a>
                    </div>
                  </nb-card-header>
                  <div class="form-group col-md-3">
                    <h5 class="pt-3">Incluir Novos Dependente</h5>
                  </div>
                </div>
               
                <div class="card">
                  <div class="card-header">
                    <h6 class="p-1">Dados do Responsável:</h6>
                  </div>
                  <div class="card-body">
                    <p class="card-text mb-0"><strong>Responsável:</strong> {{ NewowData.name }}</p>
                    <p class="card-text mb-0"><strong>Email:</strong> {{ NewowData.email }}</p>
                    <p class="card-text mb-0"><strong>CPF:</strong> {{ NewowData.federalId }}</p>    
                  </div>
                </div>
                         
                <div class="card" style="margin-top: 10px;">
                  <div class="card-header">
                    <h6 class="p-1">Dados do Dependente:</h6>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="nomeDep">Nome do Dependente*</label>
                        <input class="form-control" name="nomeDep" id="nomeDep" type="text" formControlName="nomeDep" />
                      </div>
                      <div class="form-group col-md-2">
                        <label for="cpfDep">CPF*</label>
                        <input class="form-control" name="cpfDep" id="cpfDep" type="text" formControlName="cpfDep"
                          value="cpfDep" mask="000.000.000-00" (change)="isValidCpf($event.target,formDependente.value)" />
                      </div>
                      <div class="form-group col-md-2">
                        <label for="dateNascDep">Data de Nascimento*</label>
                        <input class="form-control" type="date" id="dateNascDep" name="mydate" formControlName="dateNascDep"
                          maxlength="10" (blur)="validaData($event.target.value)" />
                      </div>

                      <div class="form-group col-md-2">
                        <label class="mat-button mb-3">Sexo Biológico*</label>
                        <div class="row">
                          <label class="radio-inline mr-3 pl-3">
                            <input class="mat-button" type="radio" id="radioM" name="optradio" value="M"
                              (click)="viewdiv('M')"> Masculino
                          </label>
                          <label class="radio-inline">
                            <input class="mat-button" type="radio" id="radioF" name="optradio" value="F"
                              (click)="viewdiv('F')"> Feminino
                          </label>
                        </div>
                      </div>


                      <div class="form-group col-md-2">
                        <label for="tipoSanguineo">Tipo Sanguíneo</label>
                        <select class="form-control" formControlName="tipoSanguineo">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let tipoSanguineo of listSanguino" value="{{ tipoSanguineo.descricao }}">
                            {{ tipoSanguineo.descricao }}
                          </option>
                        </select>
                      </div>

                    </div>
                  </div>
                </div>
                
              <div class="form-row align-items-center pt-5 modal-footer">
                <div class="form-group col-md-2 mr-lg-n4">
                  <div class="form-group">
                    <div class="login_btn">
                      <button type="button" id="cadastrar" class="btn btn-success nb-custom-message-full-width"
                        (click)="cadastrarPaciente(formDependente.value)">Incluir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </form>
          </nb-card-body>
          <nb-card-body *ngIf="isVisualizar">
            <div class="col-md-12 col-xs-12">
              <div class="form-row align-items-center">
                <nb-card-header class="aditi-header">
                  <div class="back-link">
                    <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                      <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                    </a>
                  </div>
                </nb-card-header>
                <div class="form-group col-md-3">
                  <h5 class="pt-3">Visualizar Dependentes</h5>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="form-group col-md-6">
                  <label for="tipoSanguineo">Nome Responsável: {{ this.nameMae }}</label>
                </div>
              </div>
            </div>

            <div class="form-row align-items-center">
              <div class="form-group col-md-12">
                <div class="app-box">
                  <div class="row">
                    <div class="col-md-4" *ngFor="let row of rowData">
                      <nb-card>
                        <nb-card-body>
                          <div class="text-center">
                            <img src="{{row.avatar}}" style="height: 55px; border-radius: 50%;">
                          </div>  
                          <p class="card-text"><strong>Paciente:</strong> {{ row?.nameChild || row.name }}</p>
                          <p class="card-text" *ngIf="row?.nameChild && row?.name"><strong>Nome Paciente:</strong> {{ row?.name }}</p>
                          <p class="card-text"><strong>CPF:</strong> {{ row.cpf }}</p>
                          <p class="card-text"><strong>Nome da Mãe:</strong> {{ row.nameMother }}</p>
                          <p class="card-text"><strong>Nome do Pai:</strong> {{ row.nameFather }}</p>
                          <p class="card-text"><strong>Sexo:</strong> {{ row.biologicalSex }}</p>
                          <p class="card-text"><strong>Data Cadastro:</strong> {{ row.dateRegister }}</p>
                          <p class="card-text"><strong>Data de Nascimento:</strong> {{ row.birthDate }}</p>
                          <p class="card-text"><strong>Tipo do Sangue:</strong> {{ row.bloodType }}</p>
                          <p class="card-text mb-0"><strong>CEP:</strong> {{ row.cep }}</p>
                          <p class="card-text mb-0"><strong>UF:</strong> {{ row.ufName }}</p>
                          <p class="card-text mb-0"><strong>Cidade:</strong> {{ row.nameCity }}</p>
                          <p class="card-text mb-0"><strong>Bairro:</strong> {{ row.bairro }}</p>
                          <p class="card-text mb-0"><strong>Rua:</strong> {{ row.rua }}</p>
                          <p class="card-text mb-0"><strong>Número:</strong> {{ row.numero }}</p>
                          <p class="card-text mb-0"><strong>Complemento:</strong> {{ row.complemento }}</p>
                          
                          
              
                          <div class="datatable-body-box-actions">
                            <button class="btn edit-icon pt-4" (click)="EditarDependente(row)" title="Editar Cadastro">
                              <i class="fas fa-pencil-alt" aria-label="Editar Cadastro"></i>
                            </button>

                            <button class="btn edit-icon pt-4" (click)="buscaAgenda(row)" title="Visualizar Atendimentos">
                              <i class="fas fa-list" aria-label="Visualizar Atendimentos"></i>
                            </button>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
