<div class="loader" *ngIf="isLoader"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="dialog-body">
                <nb-card>
                    <nb-card-body>
                        <form id="form-novo-atendimento" [formGroup]="formNovoAtendimento">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-row align-items-center">
                                    <nb-card-header class="aditi-header">
                                        <div class="back-link">
                                            <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                                                <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                                            </a>
                                        </div>
                                    </nb-card-header>
                                    <div class="form-group col-md-6">
                                        <h5 class="pt-3">Agendar Consulta</h5>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="nome">Informe o Médico*</label>
                                            <select class="form-control" formControlName="medico"
                                                (change)="verificaMedico($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                                                    medico.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="tipoConsulta">Tipo de Consulta*</label>
                                            <select class="form-control" formControlName="tipoConsulta"
                                                (change)="ValidaTipoConsulta($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let tipoConsulta of listTipoConsulta"
                                                    value="{{ tipoConsulta.id }}">{{ tipoConsulta.descricao }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="tipoEspecialidade">Tipo de Especialidade*</label>
                                            <select class="form-control" formControlName="tipoEspecialidade"
                                                (change)="especialidade($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let tipoEspecialidade of listTipoEspecialidade"
                                                    value="{{ tipoEspecialidade.id }}">{{
                                                    tipoEspecialidade.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                                                    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4" *ngIf="AtendimentoDireto">
                                        <div class="form-group">
                                          <label for="tempoAtendimento">Tempo de Atendimento (Opcional)</label>
                                          <select class="form-control" formControlName="tempoAtendimento" (change)="tempoAtendimento($event.target.value)">
                                            <option value="null" selected>SELECIONE</option>
                                            <option *ngFor="let tempoAtendimento of listTempoAtendimento" value="{{ tempoAtendimento.id }}">
                                              {{ tempoAtendimento.name }}
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                      
                                    <div class="form-group col-md-4">
                                        <div class="form-group" *ngIf="exibirDivProcedimento">
                                            <label for="tipoProcedimento">Tipo de Procedimento*</label>
                                            <select class="form-control" formControlName="tipoProcedimento"
                                                (change)="SetaProcedimento($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let tipoProcedimento of listTipoProcedimento"
                                                    value="{{ tipoProcedimento.procedure.idProcedure }}">{{
                                                     tipoProcedimento.procedure.nameProcedure}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-row">

                                    <div class="form-group col-md-4" *ngIf="AtendimentoDireto">
                                        <label for="dataInicio">Informe a Data da Consulta*</label>
                                        <input class="form-control date" type="date" id="dataInicio"
                                            name="mydate" formControlName="dataInicio" maxlength="10" />
                                    </div>
                                    
                                    <div class="form-group col-md-4" *ngIf="AtendimentoDireto">
                                        <label class="encaixe">Deseja Realizar um Encaixe?*</label>
                                        <div class="p-1 row mb-lg-n1">
                                            <label class="radio-inline pl-3">
                                                <input class="mat-button" type="radio" id="optEncaixe" name="optEncaixe"
                                                    value="S" formControlName="optEncaixe" (click)="buscarEncaixe($event.target.value,formNovoAtendimento.value)" />
                                                Sim
                                            </label>
                                            <label class="radio-inline pl-2">
                                                <input class="mat-button" type="radio" id="optEncaixe" name="optEncaixe"
                                                    value="N" formControlName="optEncaixe" (click)="buscarEncaixe($event.target.value,formNovoAtendimento.value)" />
                                                Não
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 text-right" *ngIf="isEncaixe">
                                    <button class="btn btn-primary m-4" (click)="pesquisarConsulta(formNovoAtendimento.value)">
                                            Pesquisar
                                        </button>
                                    </div>
                                
                                <div class="form-row align-items-center mt-lg-n4">
                                    <div *ngIf="isEncaixe1">
                                        <nb-card-body>
                                            <section class="align-items-center">
                                                <div class="col-md-12 col-xs-12">
                                                    <form #card="ngForm">
                                                        <label for="dataInicio">Informe o Horário que Deseja o Encaixe: </label>
                                                        <div class="form-row">
                                                            <section class="border-dark btn paragraph-2 mb-3"
                                                                style="background-color: white;"
                                                                *ngFor="let card of tipoCardEncaixe; let i = index;"
                                                                >
                                                                <div class="col-md-12">
                                                                    <label for="horaInicio">Hora de Início</label>
                                                                    <div class="row pl-3">
                                                                        <input type="time" name="appt" required
                                                                            name="card{{card.id}}"
                                                                            [(ngModel)]="card.horaInicio" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label for="horaFim">Hora Fim</label>
                                                                    <div class="row pl-3">
                                                                        <input type="time" name="appt" required
                                                                            name="car{{card.id}}"
                                                                            [(ngModel)]="card.horaFim" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button class="btn btn-primary mt-2"
                                                                        (click)="pesquisarHorario(formNovoAtendimento.value,card)">
                                                                        Pesquisar
                                                                    </button>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </form>
                                                </div>
                                            </section>
                                        </nb-card-body>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="isHorario">
                                <div class="form-group col-md-4">
                                  <h6 class="pt-3">Selecione o Horário da Consulta</h6>
                                </div>
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-md-2" *ngFor="let card of tipoCard; let i = index;">
                                        <mat-card class="custom-card">
                                          <mat-card-content>
                                            <p>Data: {{ card.data }}</p>
                                            <p>Horário: {{ card.horario }}</p>
                                            <p>Situação: {{ card.statusCard }}</p>
                                            <button *ngIf="card.statusCard === 'Disponível'" class="btn btn-primary" (click)="confHorario(card, formNovoAtendimento.value)">Selecionar</button>                                             </mat-card-content>
                                        </mat-card>
                                        <!-- Adiciona uma linha divisória após cada sexto card -->
                                        <div *ngIf="(i + 1) % 6 === 0 && i !== tipoCard.length - 1" class="col-md-12"><hr></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              
                                                            
                                <div *ngIf="isConfAtendimento">
                                    <div class="form-row align-items-center">
                                        <div class="form-group col-md-4">
                                            <div class="form-group">
                                                <label for="horarioSelected">Horário Selecionado:</label>
                                                <input class="form-control" name="horarioSelected" id="horarioSelected "
                                                type="text" formControlName="horarioSelected" [value]="horarioSelecionado" disabled />
                                            </div>
                                        </div>
                                    
                                        <div class="form-group col-md-4">
                                            <div class="form-group">
                                                <label for="nomeResponsavel">Informe o CPF do Paciente/Responsável*</label>
                                                <input class="form-control" name="cpf" id="cpf" type="text"
                                                    formControlName="cpf" mask="000.000.000-00" maxlength="14"
                                                    placeholder="000.000.000-00" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 text-right">
                                            <button class="btn btn-primary m-4" 
                                                (click)="isValidCpf(formNovoAtendimento.value)">
                                                Pesquisar
                                            </button>
                                        </div>
                                        <div class="form-group col-md-12" *ngIf="isDadosAtendimento">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="nomeResponsavel">Nome do Paciente/Responsável</label>
                                                    <input class="form-control" name="nomeResponsavel" id="nomeResponsavel"
                                                        type="text" formControlName="nomeResponsavel" disabled />
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="telefoneResponsavel">Telefone Paciente/Responsável</label>
                                                    <input class="form-control" name="telefoneResponsavel" id="telefoneResponsavel"
                                                        type="text" formControlName="telefoneResponsavel" disabled />
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="emailResponsavel">Email Paciente/Responsável</label>
                                                    <input class="form-control" name="emailResponsavel" id="emailResponsavel"
                                                        type="text" formControlName="emailResponsavel" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div *ngIf="isDadosAtendimento">
                                        <div class="form-row align-items-center mt-lg-n3">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="consultaDependente">Atendimento para Dependente?*</label>
                                                    <div class="p-1 row">
                                                        <label class="radio-inline pl-2 pl-3">
                                                          <input class="mat-button" type="radio" id="radioS1" name="optDep" value="S"
                                                                 [checked]="optDep === true" [disabled]="dependenteDisabled"
                                                                 (click)="consultaDependente('S')" />
                                                          Sim
                                                        </label>
                                                        <label class="radio-inline pl-2">
                                                          <input class="mat-button" type="radio" id="radio" name="optDep" value="N"
                                                                 [checked]="optDep === false" [disabled]="dependenteDisabled"
                                                                 (click)="consultaDependente('N')" />
                                                          Não
                                                        </label>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4" *ngIf="isDependente">
                                                <label for="incluirDep">Informe o Dependente</label>
                                                <select class="form-control" formControlName="incluirDep"
                                                    (change)="verificaDependente($event.target.value)">
                                                    <option value="null" selected>SELECIONE</option>
                                                    <option *ngFor="let pagto of listDependente"
                                                        value="{{ pagto.idChild }}">
                                                        {{pagto.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="consultaAntecipada">Paciente Deseja Antecipar Data?</label>
                                                    <div class="p-1 row">
                                                        <label class="radio-inline pl-2 pl-3">
                                                            <input class="mat-button" type="radio" id="radioAntecipada"
                                                                name="optAntecipada" value="S"
                                                                (click)="consultaAntecipada($event.target.value)" />
                                                            Sim</label>
                                                        <label class="radio-inline pl-2">
                                                            <input class="mat-button" type="radio" id="radioAntecipada"
                                                                name="optAntecipada" value="N"
                                                                (click)="consultaAntecipada($event.target.value)" />
                                                            Não</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row align-items-center">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                  <label class="consultaParticular">Consulta será Particular?</label>
                                                  <div class="p-1 row">
                                                    <label class="radio-inline pl-2 pl-3">
                                                      <input class="mat-button" type="radio" id="radioSS" name="optPart" value="S"
                                                             [checked]="optPart === true" [disabled]="radioDisabled"
                                                             (click)="buscaConvenio('S')" />
                                                      Sim
                                                    </label>
                                                    <label class="radio-inline pl-2">
                                                      <input class="mat-button" type="radio" id="radio" name="optPart" value="N"
                                                             [checked]="optPart === false" [disabled]="radioDisabled"
                                                             (click)="buscaConvenio('N')" />
                                                      Não
                                                    </label>
                                                  </div>
                                                </div>
                                              </div>
                                                         
                                              <div class="col-md-4">
                                            <div class="form-group" *ngIf="isPagto">
                                                <label for="formaPagto">Qual será a Modalidade de Pagamento*</label>
                                                <select class="form-control" formControlName="formaPagto">
                                                    <option value="null" selected>SELECIONE</option>
                                                    <option *ngFor="let pagto of listPagto" value="{{ pagto.id }}">{{
                                                        pagto.description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                            <div class="form-group col-md-4" *ngIf="isConvenio">
                                                <label for="formaConvenio">Informe o Convênio*</label>
                                                <select class="form-control" formControlName="formaConvenio">
                                                    <option value="null" selected>SELECIONE</option>
                                                    <option *ngFor="let convenio of listConvenio"
                                                        value="{{ convenio.id }}">{{
                                                        convenio.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-md-4">
                                                <div class="form-group">
                                                    <label class="consultaPaga">Consulta Já esta Paga?</label>
                                                    <div class="p-1 row">
                                                        <label class="radio-inline pl-2 pl-3">
                                                            <input class="mat-button" type="radio" id="radioSim"
                                                                name="radio" value="S"
                                                                (click)="consultaPaga($event.target.value)" />
                                                            Sim</label>
                                                        <label class="radio-inline pl-2">
                                                            <input class="mat-button" type="radio" id="radioNao"
                                                                name="radio" value="N"
                                                                (click)="consultaPaga($event.target.value)" />
                                                            Não</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="consultaRetorno">Consulta de Retorno?</label>
                                                    <div class="p-1 row">
                                                        <label class="radio-inline pl-2 pl-3">
                                                            <input class="mat-button" type="radio" id="radioRetorno"
                                                                name="optRetorno" value="S"
                                                                (click)="consultaRetorno($event.target.value)" />
                                                            Sim</label>
                                                        <label class="radio-inline pl-2">
                                                            <input class="mat-button" type="radio" id="radioRetorno"
                                                                name="optRetorno" value="N"
                                                                (click)="consultaRetorno($event.target.value)" />
                                                            Não</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 mt-lg-n4">
                                                <div class="input-box">
                                                    <label for="detalhes">Detalhes sobre a Consulta:</label>
                                                    <textarea class="form-control" rows="3" formControlName="consPagto"
                                                        id="consPagto" [value]="null" (keypress)="qdadeCaracteres()"
                                                        maxlength="2000" disabled></textarea>
                                                    <p class="text-muted"><small><span class="caracteres"
                                                                name="txtArea">{{this.tamanho}}</span></small>
                                                        quantidade máxima de caracteres</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row align-items-center">
                                        <div class="col-md-12">
                                            <div class="text-right">
                                                <button class="btn btn-success"
                                                    (click)="salvar(formNovoAtendimento.value)"
                                                    [disabled]="bloqueioSave">
                                                    Salvar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>
