<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="dialog-body">
                <nb-card>
                    <nb-card-body>
                        <form id="form-novo-atendimento" [formGroup]="formNovoAtendimento">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-row align-items-center">
                                    <nb-card-header class="aditi-header">
                                        <div class="back-link">
                                          <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                                            <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                                          </a>
                                        </div>
                                      </nb-card-header>
                                    <div class="form-group col-md-6">
                                        <h5 class="pt-3">Agendar Consulta</h5>
                                    </div>
                                </div>                               
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="nome">Escolha o médico*</label>
                                            <select class="form-control" formControlName="medico"
                                            (change)="verificaMedico($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                                                    medico.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div class="form-group">
                                            <label for="dataConsulta">Data*</label>
                                            <div class="row pl-3">
                                                <input class="form-control date" type="date" id="dataConsulta"
                                                    name="mydate" formControlName="dataConsulta" maxlength="10" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div class="form-group">
                                            <label for="horaConsulta" class="pl-3">Hora*</label>
                                            <div class="pl-3">
                                                <input class="form-control" type="time" id="horaConsulta"
                                                    name="horaConsulta" formControlName="horaConsulta" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center mt-lg-n3">
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="nomeResponsavel">Buscar por cpf*</label>
                                            <input class="form-control" name="cpf" id="cpf" type="text"
                                                formControlName="cpf" mask="000.000.000-00" maxlength="14"
                                                (change)="isValidCpf(formNovoAtendimento.value)"
                                                placeholder="000.000.000-00" />
                                            <div *ngIf="showMsgErro" class="link-text pt-2" style="color: #dc3545;">
                                                {{this.msgErro}} <br /><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="form-group">
                                            <label for="nomeResponsavel">Nome do responsável</label>
                                            <input class="form-control" name="nomeResponsavel" id="nomeResponsavel"
                                                type="text" formControlName="nomeResponsavel" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center mt-lg-n3">                                     
                                    <div class="col-md-5 pt-4">
                                        <label for="incluirDep"></label>
                                        <div class="form-group">
                                            <label class="consultaDependente">Consulta para dependente?</label>
                                            <label class="radio-inline pl-2 pl-3">
                                                <input class="mat-button" type="radio" id="radio" name="optDep"
                                                    value="S" (click)="consultaDependente($event.target.value)" />
                                                Sim</label>
                                            <label class="radio-inline pl-2">
                                                <input class="mat-button" type="radio" id="radio" name="optDep"
                                                    value="N" (click)="consultaDependente($event.target.value)" />
                                                Não</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" *ngIf="isDependente">
                                        <label for="incluirDep">Incluir filho(a)*</label>
                                        <select class="form-control" formControlName="incluirDep">
                                            <option value="null" selected>SELECIONE</option>
                                            <option *ngFor="let pagto of listDependente" value="{{ pagto.id }}">{{
                                                pagto.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-md-5 pt-4">
                                        <label for="incluirDep"></label>
                                        <div class="form-group">
                                            <label class="consultaParticular">Consulta particula?</label>
                                            <label class="radio-inline pl-2 pl-3">
                                                <input class="mat-button" type="radio" id="radio" name="optPart"
                                                    value="S" (click)="consultaParticular($event.target.value)" />
                                                Sim</label>
                                            <label class="radio-inline pl-2">
                                                <input class="mat-button" type="radio" id="radio" name="optPart"
                                                    value="N" (click)="consultaParticular($event.target.value)" />
                                                Não</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" *ngIf="isPagto">
                                        <label for="formaPagto">Forma de pagamento*</label>
                                        <select class="form-control" formControlName="formaPagto">
                                            <option value="null" selected>SELECIONE</option>
                                            <option *ngFor="let pagto of listPagto" value="{{ pagto.id }}">{{
                                                pagto.description}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4" *ngIf="isConvenio">
                                        <label for="convenio">Convênio*</label>
                                        <select class="form-control">
                                            <option value="null" selected>SELECIONE</option>
                                            <option *ngFor="let convenio of listConvenio" value="{{ convenio.id }}">{{
                                                convenio.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-5">
                                        <label class="consultaDependente"></label>
                                        <div class="form-group">
                                            <label class="consultaDependente">Consulta paga?</label>
                                            <label class="radio-inline pl-2 pl-3">
                                                <input class="mat-button" type="radio" id="radio" name="optCons"
                                                    value="S" />
                                                Sim</label>
                                            <label class="radio-inline pl-2">
                                                <input class="mat-button" type="radio" id="radio" name="optCons"
                                                    value="N" />
                                                Não</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-12">
                                        <div class="input-box">
                                            <label for="detalhes">Detalhes:</label>
                                            <textarea class="form-control" rows="3" formControlName="consPagto"
                                                id="consPagto" [value]="null" (keypress)="qdadeCaracteres()"
                                                maxlength="2000"></textarea>
                                            <p class="text-muted"><small><span class="caracteres"
                                                        name="txtArea">{{this.tamanho}}</span></small>
                                                quantidade máxima de caracteres</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-md-12">
                                      <div class="text-right">                                       
                                        <button class="btn btn-success" (click)="salvar(formNovoAtendimento.value)">
                                          Salvar
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>
<div #card>
    <div class="col-md-12 col-xs-12">
        <div class="row" *ngIf="isActive" class="loader">
            <div class="text-center" style="margin-top: -300px;margin-right: 40px;">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Carregando...
                </button>
            </div>
        </div>
    </div>
</div>