<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body>
            <form id="form-configurar-excecao-atendimento" [formGroup]="formExcecaoAtendimento">
              <div class="col-md-12 col-xs-12">
                <div class="form-group col-md-6">
                  <h5 class="ml-lg-n3">Configurar Exceção de Horários</h5>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-4">
                    <div class="form-group">
                      <label for="nome">Escolha o Médico*</label>
                      <select class="form-control" formControlName="medico"
                        (change)="verificaMedico($event.target.value)">
                        <option value="null" selected>SELECIONE</option>
                        <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                          medico.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-clinica">
                        <label for="clinica">Escolha a Clínica*</label>
                        <select class="form-control" formControlName="clinica"
                          (change)="verificaClinica($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let clinica of listClinica" value="{{ clinica.id }}">{{
                            clinica.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div class="form-group">
                      <label for="tipoConsulta">Tipo de Consulta*</label>
                      <select class="form-control" formControlName="tipoConsulta">
                        <option value="null" selected>SELECIONE</option>
                        <option *ngFor="let tipoConsulta of listTipoConsulta" value="{{ tipoConsulta.id }}">{{
                          tipoConsulta.descricao}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <div class="form-group">
                      <label for="dataExcecao">Escolha a data*</label>
                      <div class="row pl-3">
                        <input class="form-control date" type="date" id="dataExcecao" name="mydate"
                          formControlName="dataExcecao" maxlength="10" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group pl-3">
                      <label class="div-expediente">Terá Expediente*</label>
                      <div class="row pl-3">
                        <label class="radio-inline mr-3">
                          <input class="mat-button" type="radio" id="radio" name="optradio" value="S"
                            (click)="expediente($event.target.value)" (click)="addHora()">
                          Sim</label>
                        <label class="radio-inline">
                          <input class="mat-button" type="radio" id="radio" name="optradio" value="N"
                            (click)="expediente($event.target.value)" (click)="removerCard()"> Não</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="text-right">
                      <button class="btn btn-primary mr-3" id="addHoras" (click)="addHora()" *ngIf="isCardHoras">
                        Informar horário
                      </button>
                      <button class="btn btn-success" (click)="salvar(formExcecaoAtendimento.value)">
                        Salvar
                      </button>
                    </div>
                  </div>
                </div>
                <nb-card-body>
                  <section class="align-items-center">
                    <div class="col-md-12 col-xs-12">
                      <form #card="ngForm">
                        <div class="form-row align-items-center">
                          <section class="border-dark m-3 btn mt-lg-n4 paragraph-2 mb-5"
                            style="background-color: white;" *ngFor="let card of tipoCard; let i = index;">
                            <div class="col-md-12 col-xs-12 ">
                              <div class="row">
                                <div class="col-md-12">
                                  <label for="horaInicio">Hora início</label>
                                  <i class="fa fa-window-close alert-danger carousel-item-next" aria-hidden="true"
                                    (click)="removerCard()"></i>
                                  <div class="row pl-3">
                                    <input type="time" name="appt" required name="card{{card.id}}"
                                      [(ngModel)]="card.horaInicio" />
                                  </div>
                                  <label for="horaFim">Hora fim</label>
                                  <div class="row pl-3">
                                    <input type="time" name="appt" required name="car{{card.id}}"
                                      [(ngModel)]="card.horaFim" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                      </form>
                    </div>
                  </section>
                </nb-card-body>

                <div class="form-group col-md-6">
                  <h5 class="ml-lg-n3">Exceções Configuradas:</h5>
                </div>
                
                <div class="container">
                  <div class="row">
                    <div class="col-md-4" *ngFor="let row of rowData">
                      <nb-card>
                        <nb-card-body>
                          <div>
                            <p><strong>Nome Clínica:</strong> {{ row.nomeClinica }}</p>
                            <p><strong>Nome do Médico:</strong> {{ row.nome }}</p>
                            <p><strong>Data:</strong> {{ row.data }}</p>
                            <p><strong>Hora Início:</strong> {{ row.horaInicio }}</p>
                            <p><strong>Hora Fim:</strong> {{ row.horaFim }}</p>
                            <p><strong>Modalidade da Exceção: </strong> {{ row.description }}</p>
                            <div class="text-center">
                            <button class="btn btn-danger" (click)="deletar(row.id)">
                              Excluir
                            </button>
                            </div>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </div>
                  </div>
                </div>
                

              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
