<div class="loader" *ngIf="isLoader"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body>
            <form id="form-parametrizar-consulta" [formGroup]="formParametrizarConsulta">
              <div class="col-md-12 col-xs-12">
                <div class="form-row align-items-center">
                  <div class="form-group col-md-6">
                    <div class="form-group">
                      <h5>Configurar Atendimento</h5>
                    </div>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group">
                    <label class="pl-1">Por favor escolha o médico abaixo para realizar a configuração:</label>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-4">
                    <div class="form-group">
                      <div>
                        <label for="nome">Escolha o médico*</label>
                        <select class="form-control" formControlName="medico"
                          (change)="SelectedMedico($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                            medico.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="clinica">Escolha a clínica*</label>
                        <select class="form-control" formControlName="clinica">
                          (change)="SelectedClinica($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let clinica of listClinica" value="{{ clinica.id }}">{{
                            clinica.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <div class="form-group pt-4">
                      <div class="text-right">
                        <button class="btn btn-primary mr-2"
                          (click)="buscarAtendimento(formParametrizarConsulta.value)">
                          BUSCAR
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container" *ngIf="ismodalidadeConsulta">
                  <div class="row">
                    <div class="col-md-6 p-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Presencial</h5>
                          <div class="form-group">
                            <label for="tempoPresencial">Duração (Minutos)*</label>
                            <input type="number" min="0" max="60" class="form-control" id="tempoPresencial"
                              formControlName="tempoPresencial">
                          </div>
                          <div class="form-group">
                            <label for="valorPresencial">Valor*</label>
                            <input class="form-control" autocomplete="off" currencyMask
                              [options]="{prefix: 'R$ ' , thousands: '.', decimal: ','}" type="text"
                              id="valorPresencial" formControlName="valorPresencial" placeholder="R$ 0,00">
                          </div>
                          <div class="form-group">
                            <label for="qrPresencial">QR Code*</label>
                            <input type="text" class="form-control" id="qrPresencial" formControlName="qrPresencial"
                              disabled>
                          </div>
                          <div class="form-group" *ngIf="isBloqueio">
                            <label>Bloqueio</label>
                            <div class="pb-2 row">
                              <label class="radio-inline pl-3">
                                <input class="mat-button" type="radio" id="radio" name="optPresencial" value="true"
                                  formControlName="optPresencial" [checked]="radioValuePresencial === true" />
                                Sim</label>
                              <label class="radio-inline pl-2">
                                <input class="mat-button" type="radio" id="radio" name="optPresencial" value="false"
                                  formControlName="optPresencial" [checked]="radioValuePresencial === false" />
                                Não</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 p-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Video Chamada</h5>
                          <div class="form-group">
                            <label for="tempoVideo">Duração (Minutos)*</label>
                            <input type="number" min="0" max="60" class="form-control" id="tempoVideo"
                              formControlName="tempoVideo">
                          </div>
                          <div class="form-group">
                            <label for="valorVideo">Valor*</label>
                            <input class="form-control" autocomplete="off" currencyMask
                              [options]="{prefix: 'R$ ' , thousands: '.', decimal: ','}" type="text" id="valorVideo"
                              formControlName="valorVideo" placeholder="R$ 0,00">
                          </div>
                          <div class="form-group">
                            <label for="qrVideo">QR Code*</label>
                            <input type="text" class="form-control" id="qrVideo" formControlName="qrVideo" disabled>
                          </div>
                          <div class="form-group" *ngIf="isBloqueio">
                            <label>Bloqueio</label>
                            <div class="pb-2 row">
                              <label class="radio-inline pl-3">
                                <input class="mat-button" type="radio" id="radio" name="optVideo" value="true"
                                  formControlName="optVideo" [checked]="radioValueVideo === true" />
                                Sim</label>
                              <label class="radio-inline pl-2">
                                <input class="mat-button" type="radio" id="radio" name="optVideo" value="false"
                                  formControlName="optVideo" [checked]="radioValueVideo === false" />
                                Não</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 p-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Emergencial Presencial</h5>
                          <div class="form-group">
                            <label for="tempoEmergencial">Duração (Minutos)*</label>
                            <input type="number" min="0" max="60" class="form-control" id="tempoEmergencial"
                              formControlName="tempoEmergencial">
                          </div>
                          <div class="form-group">
                            <label for="valorEmergencial">Valor*</label>
                            <input class="form-control" autocomplete="off" currencyMask
                              [options]="{prefix: 'R$ ' , thousands: '.', decimal: ','}" type="text"
                              id="valorEmergencial" formControlName="valorEmergencial" placeholder="R$ 0,00">
                          </div>
                          <div class="form-group">
                            <label for="qrEmergencial">QR Code*</label>
                            <input type="text" class="form-control" id="qrEmergencial" formControlName="qrEmergencial"
                              disabled>
                          </div>
                          <div class="form-group" *ngIf="isBloqueio">
                            <label>Bloqueio</label>
                            <div class="pb-2 row">
                              <label class="radio-inline pl-3">
                                <input class="mat-button" type="radio" id="radio" name="optEmergencial" value="true"
                                  formControlName="optEmergencial" [checked]="radioValueEmergencial === true" />
                                Sim</label>
                              <label class="radio-inline pl-2">
                                <input class="mat-button" type="radio" id="radio" name="optEmergencial" value="false"
                                  formControlName="optEmergencial" [checked]="radioValueEmergencial === false" />
                                Não</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 p-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Em Casa</h5>
                          <div class="form-group">
                            <label for="tempoCasa">Duração (Minutos)*</label>
                            <input type="number" min="0" max="60" class="form-control" id="tempoCasa"
                              formControlName="tempoCasa">
                          </div>
                          <div class="form-group">
                            <label for="valorCasa">Valor*</label>
                            <input class="form-control" autocomplete="off" currencyMask
                              [options]="{prefix: 'R$ ' , thousands: '.', decimal: ','}" type="text" id="valorCasa"
                              formControlName="valorCasa" placeholder="R$ 0,00">
                          </div>
                          <div class="form-group">
                            <label for="qrCasa">QR Code*</label>
                            <input type="text" class="form-control" id="qrCasa" formControlName="qrCasa" disabled>
                          </div>
                          <div class="form-group" *ngIf="isBloqueio">
                            <label>Bloqueio</label>
                            <div class="pb-2 row">
                              <label class="radio-inline pl-3">
                                <input class="mat-button" type="radio" id="radio" name="optCasa" value="true"
                                  formControlName="optCasa" [checked]="radioValueCasa === true" />
                                Sim</label>
                              <label class="radio-inline pl-2">
                                <input class="mat-button" type="radio" id="radio" name="optCasa" value="false"
                                  formControlName="optCasa" [checked]="radioValueCasa === false" />
                                Não</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 p-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Video Chamada Emergencial</h5>
                          <div class="form-group">
                            <label for="tempoVideoChamada">Duração (Minutos)*</label>
                            <input type="number" min="0" max="60" class="form-control" id="tempoVideoChamada"
                              formControlName="tempoVideoChamada">
                          </div>
                          <div class="form-group">
                            <label for="valorVideoChamada">Valor*</label>
                            <input class="form-control" autocomplete="off" currencyMask
                              [options]="{prefix: 'R$ ' , thousands: '.', decimal: ','}" type="text"
                              id="valorVideoChamada" formControlName="valorVideoChamada" placeholder="R$ 0,00">
                          </div>
                          <div class="form-group">
                            <label for="qrVideoChamada">QR Code*</label>
                            <input type="text" class="form-control" id="qrVideoChamada" formControlName="qrVideoChamada"
                              disabled>
                          </div>
                          <div class="form-group" *ngIf="isBloqueio">
                            <label>Bloqueio</label>
                            <div class="pb-2 row">
                              <label class="radio-inline pl-3">
                                <input class="mat-button" type="radio" id="radio" name="optVideoChamada" value="true"
                                  formControlName="optVideoChamada" [checked]="radioValueChamada === true" />
                                Sim</label>
                              <label class="radio-inline pl-2">
                                <input class="mat-button" type="radio" id="radio" name="optVideoChamada" value="false"
                                  formControlName="optVideoChamada" [checked]="radioValueChamada === false" />
                                Não</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div class="text-right" *ngIf="ismodalidadeConsulta">
                <button class="btn btn-success" (click)="salvar(formParametrizarConsulta.value)">
                  Salvar
                </button>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>