<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body>
            <form id="form-visualizar-dia-atendimento" [formGroup]="formVisualizarDiaAtendimento">
              <div class="col-md-12 col-xs-12">
                <div class="form-group col-md-4">
                  <h5 class="ml-lg-n3">Horários de atendimento</h5>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-4">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="nome">Escolha o médico*</label>
                        <select class="form-control" formControlName="medico"
                        (change)="verificaMedico($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let medico of listMedico" value="{{ medico.id}}">{{
                            medico.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="clinica">Filtrar por Clínica</label>
                        <select class="form-control" formControlName="clinica"
                          (change)="verificaClinica($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let clinica of listClinica" value="{{ clinica.id }}">{{
                            clinica.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2 text-right">
                        <button class="btn btn-primary m-lg-n5"
                          (click)="buscarAtendimento(formVisualizarDiaAtendimento.value)">
                          Consultar
                        </button>
                  </div>
                  <div class="form-group col-md-3 text-right">
                        <button class="btn btn-success mr-3" id="bntConfig"
                          (click)="configAtendimento(formVisualizarDiaAtendimento.value)">
                          Definir Horários
                        </button>
                  </div>
                </div>

                <div class="form-group">
                  <h5 class="pt-3">Agenda de Atendimento:</h5>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-12">
                    <div class="app-box">

                      <div class="row">
                        <div class="col-md-4" *ngFor="let horarios of horariosPorDia; let i = index">
                          <div class="card mb-3">
                            <div class="card-header">
                              {{ getDiaSemana(i) }}
                            </div>
                            <div class="card-body" *ngIf="horariosPorDia.length > 0">
                              <ul class="list-unstyled">
                                <li *ngFor="let horario of horarios">
                                  <small>{{ formatHorario(horario) }}</small>
                                  <!-- Ícone de exclusão -->
                                  <i class="fa fa-trash ml-2" (click)="deletarHorario(horario)"></i>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                        
                     <!--
                      <ngx-datatable #myTable class="bootstrap" [rows]="rowData" [columnMode]="'force'"
                        [headerHeight]="35" [footerHeight]="50" [rowHeight]="'auto'"
                        [messages]="{emptyMessage: 'Sem dados...'}" [limit]="8">

   

                        <ngx-datatable-column name="Segunda" prop="segunda">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.segunda }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Terça" prop="terca">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.terca }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Quarta" prop="quarta">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.quarta }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Quinta" prop="quinta">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.quinta }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Sexta" prop="sexta">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.sexta }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Sabado" prop="sabado">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.sabado }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Domingo" prop="domingo">
                          <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="text-center">
                              {{ row.domingo }}
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-footer>
                          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                            <div>
                              <div class="page-count">
                                Total de Registros: {{rowCount}}
                              </div>
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                              [pagerRightArrowIcon]="'fa fa-angle-double-right '"
                              [pagerPreviousIcon]="'fa fa-angle-left'" [pagerNextIcon]="'fa fa-angle-right '"
                              [page]="curPage" [size]="pageSize" [count]="rowCount"
                              [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                            </datatable-pager>
                          </ng-template>
                        </ngx-datatable-footer>
                      </ngx-datatable>-->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<div #card>
  <div class="col-md-12 col-xs-12">
    <div class="row" *ngIf="isActive" class="loader">
      <div class="text-center" style="margin-top: -250px;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando...
        </button>
      </div>
    </div>
  </div>
</div>