<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <form id="form-visualizar-dia-atendimento" [formGroup]="formVisualizarDiaAtendimento">

          <div class="col-md-12 col-xs-12">
            <div class="form-group col-md-4">
              <h5 class="ml-lg-n3">Atendimento</h5>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <div class="form-group">
                  <div class="div-medico">
                    <label for="nome">Escolha o médico a ser consultado</label>
                    <select class="form-control" formControlName="medico">
                      <option value="null" selected>SELECIONE</option>
                      <option *ngFor="let medico of listMedico" value="{{ medico.descricao }}">{{
                        medico.descricao}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group pt-2">
                  <div class="text-right">
                    <button class="btn btn-primary mr-3" (click)="pesquisar(formVisualizarDiaAtendimento.value)">
                      Pesquisar
                    </button>
                    <button class="btn btn-success mr-3"
                      (click)="configAtendimento(formVisualizarDiaAtendimento.value)">
                      Configurar atendimento
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-12">
                <nb-card>
                  <nb-card-body>
                    <div class="form-row align-items-center">
                      <div class="col-md-12 col-xs-12">
                        <ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>