<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <nb-card>
        <nb-card-body>
          <form id="form-paciente" [formGroup]="formPaciente">
            <div class="col-md-12 col-xs-12">
              <div class="form-group col-md-4">
                <h5 class="ml-lg-n3">Gestão Paciente</h5>
              </div>
              <div class="form-row align-items-center">
                <div class="form-group col-md-4">
                  <label for="nome">Escolha o médico*</label>
                  <select class="form-control" formControlName="medico">
                    <option value="null" selected>SELECIONE</option>
                    <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                      medico.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="cpf">CPF</label>
                  <input class="form-control" name="cpf" id="cpf" type="text" formControlName="cpf"
                    placeholder="Digite o CPF..." />
                </div>
                <div class="col-md-5 pl-5">
                  <div class="text-right">
                    <button class="btn btn-primary m-2 mb-lg-n1" (click)="pesquisaGeral(formPaciente.value)">
                      PESQUISAR
                    </button>
                    <button class="btn btn-success m-2 mb-lg-n1" (click)="novoPaciente()">
                      NOVO PACIENTE
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="form-row align-items-center">
                <div class="form-group col-md-12">
                  <div class="app-box">
                    <ngx-datatable #myTable class="bootstrap" [rows]="rowData" [columnMode]="'force'"
                      [headerHeight]="35" [footerHeight]="50" [rowHeight]="'auto'"
                      [messages]="{emptyMessage: 'Sem dados...'}" [limit]="6">

                      <ngx-datatable-column name="Foto" prop="avatar">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center">
                            <img src="{{row.avatar}}" style="height:55px; border-radius:50%;">
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Nome" prop="nome" [width]="190">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-left pt-4">
                            {{ row.name }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Telefone" prop="telefone">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.cellPhone }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Email" prop="email" [width]="180">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.email }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="CPF" prop="cpf">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.federalId }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Ações" prop="acoes" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="datatable-body-box-actions">
                            <button class="btn home-icon pt-4" (click)="cadastrar(row)" title="Cadastrar dependente">
                              <i class="fa fa-user"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="visualizar(row)" title="Visualizar dependente">
                              <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="precoEspecial(row)" title="Desconto especial">
                              <i class="far fa-money-bill-alt"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="buscaHistorico(row)" title="Visualizar histórico">
                              <i class="fa fa-eye"></i>
                            </button>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>                     
                      <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                          <div>
                            <div class="page-count">
                              Total de Registros: {{rowCount}}
                            </div>
                          </div>
                          <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                            [pagerRightArrowIcon]="'fa fa-angle-double-right '" [pagerPreviousIcon]="'fa fa-angle-left'"
                            [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage" [size]="pageSize" [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                          </datatable-pager>
                        </ng-template>
                      </ngx-datatable-footer>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<div #card>
  <div class="col-md-12 col-xs-12">
    <div class="row" *ngIf="isActive" class="loader">
      <div class="text-center" style="margin-top: -260px;margin-right: 40px;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando...
        </button>
      </div>
    </div>
  </div>
</div>