<div class="loader" *ngIf="isLoader"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <nb-card>
        <nb-card-body>
          <form id="form-paciente" [formGroup]="formPaciente">
            <div class="col-md-12 col-xs-12">
              <div class="form-group col-md-4">
                  <h5 class="ml-lg-n3">Consulta de Paciente</h5>
              </div>
              <div class="form-row align-items-center">
               <!--   <div class="form-group col-md-3">
                      <label for="medico">Informe o Médico </label>
                      <select class="form-control" id="medico" formControlName="medico">
                          <option value="" selected>Selecione o Médico</option>
                          <option *ngFor="let medico of listMedico" [value]="medico.id">
                              {{ medico.name }}
                          </option>
                      </select>
                  </div>-->
                  <div class="form-group col-md-4">
                      <label for="cpf">CPF</label>
                      <input class="form-control" name="cpf" id="cpf" type="text" formControlName="cpf" placeholder="CPF do Paciente" />
                  </div>
                  <div class="form-group col-md-4">
                      <label for="nome">Nome do Paciente</label>
                      <input class="form-control" name="nome" id="nome" type="text" formControlName="nome" placeholder="Nome do Paciente" />
                  </div>
                  <div class="form-group col-md-4 text-right">
                      <button class="btn btn-primary m-2" (click)="pesquisaGeral(formPaciente.value, true)">
                          Pesquisar
                      </button>
                      <button class="btn btn-success m-2" (click)="novoPaciente()">
                          Cadastrar Paciente
                      </button>
                  </div>
              </div>
          </div>
          
          <div class="col-md-12 col-xs-12">

              <div class="form-row align-items-center">
                <div class="form-group col-md-12">
                    <div class="app-box">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let row of rowData">
                                <nb-card>
                                    <nb-card-body class="card">
                                        <div class="text-center">
                                            <img src="{{row.avatar}}" style="height: 55px; border-radius: 50%;">
                                        </div>
                                        <p class="card-text"><strong>Paciente:</strong> {{ row?.nameChild || row.name }}</p>
                                        <p class="card-text" *ngIf="row?.nameChild"><strong>Nome Responsável:</strong> {{ row?.name }}</p>
                                        <p class="card-text" *ngIf="!row?.nameChild"> </p> <!-- Mantém a quebra de linha -->
                                        <p class="card-text"><strong>Telefone:</strong> {{ row.cellPhone }}</p>
                                        <p class="card-text"><strong>Email:</strong> {{ row.email }}</p>
                                        <p class="card-text"><strong>CPF:</strong> {{ row.federalId }}</p>

                                        <div class="datatable-body-box-actions">
                                          <button *ngIf="!row?.nameChild" class="btn home-icon" (click)="cadastrar(row)" title="Cadastrar dependente">
                                            <i class="fas fa-user-plus" aria-label="Cadastrar dependente"></i>
                                            <div class="icon-label">Adicionar Dependente</div>
                                        </button>
                                        
                                          <button class="btn home-icon" (click)="visualizar(row)" title="Visualizar dependente">
                                              <i class="far fa-eye" aria-label="Visualizar dependente"></i>
                                              <div class="icon-label">Visualizar Dependente</div>
                                          </button>
                                          <button class="btn home-icon" (click)="precoEspecial(row)" title="Preço especial">
                                              <i class="fas fa-dollar-sign" aria-label="Preço especial"></i>
                                              <div class="icon-label">Definir Preço</div>
                                          </button>
                                          <button class="btn home-icon" (click)="buscaHistorico(row)" title="Visualizar histórico">
                                              <i class="fas fa-history" aria-label="Visualizar histórico"></i>
                                              <div class="icon-label">Visualizar Histórico</div>
                                          </button>
                                          <button class="btn home-icon" (click)="notaFiscal(row)" title="Dados da Nota">
                                              <i class="fa fa-money-bill-alt" aria-label="Dados da Nota"></i>
                                              <div class="icon-label">Dados da Nota Fiscal</div>
                                          </button>
                                      </div>
                                      
                                      
                                      
                                                                                
                                    </nb-card-body>
                                </nb-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

<!--
              <div class="form-row align-items-center">
                <div class="form-group col-md-12">
                  <div class="app-box">
                    <ngx-datatable #myTable class="bootstrap" [rows]="rowData" [columnMode]="'force'"
                      [headerHeight]="35" [footerHeight]="50" [rowHeight]="'auto'"
                      [messages]="{emptyMessage: 'Sem dados...'}" [limit]="60">

                      <ngx-datatable-column name="Foto" prop="avatar">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center">
                            <img src="{{row.avatar}}" style="height:55px; border-radius:50%;">
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Nome" prop="nome" [width]="190">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-left pt-4">
                            {{ row.name }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Telefone" prop="telefone">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.cellPhone }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Email" prop="email" [width]="180">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.email }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="CPF" prop="cpf">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="text-center pt-4">
                            {{ row.federalId }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Ações" prop="acoes" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <div class="datatable-body-box-actions">
                            <button class="btn home-icon pt-4" (click)="cadastrar(row)" title="Cadastrar dependente">
                              <i class="fa fa-user"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="visualizar(row)" title="Visualizar dependente">
                              <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="precoEspecial(row)" title="Preço exclusivo">
                              <i class="far fa-money-bill-alt"></i>
                            </button>
                            <button class="btn home-icon pt-4" (click)="buscaHistorico(row)" title="Visualizar histórico">
                              <i class="fa fa-eye"></i>
                            </button>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>                     
                      <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                          <div>
                            <div class="page-count">
                              Total de Registros: {{rowCount}}
                            </div>
                          </div>
                          <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                            [pagerRightArrowIcon]="'fa fa-angle-double-right '" [pagerPreviousIcon]="'fa fa-angle-left'"
                            [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage" [size]="pageSize" [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                          </datatable-pager>
                        </ng-template>
                      </ngx-datatable-footer>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<div #card>
  <div class="col-md-12 col-xs-12">
    <div class="row" *ngIf="isActive" class="loader">
      <div class="text-center" style="margin-top: -260px;margin-right: 40px;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando...
        </button>
      </div>
    </div>
  </div>
</div>

-->