<div class="login-container">
  <div class="login-form">
      <div class="logo-container">
          <img src="assets/images/login_aditi.png" alt="User Icon" class="login-icon">
      </div>
      <h2>Informe Seu CPF OU CNPJ e sua Senha</h2>
      <form class="login" method="post" name="login" id="login" [formGroup]="formLogin">
          <input type="text" formControlName="login" id="login" class="login-input"
              placeholder="Login" maxlength="80" autocomplete="off">

          <input type="password" formControlName="password" id="password" class="login-input"
              placeholder="Senha" maxlength="100" autocomplete="off">

          <input type="submit" class="fade_8S" style="width: 250px;" name="login" id="login" value="Entrar" (click)="login()"/>
      </form>
      <div class="login-links">
          <button class="btn btn-success ml-2 button" (click)="recuperarSenha()">Recuperar Senha</button>
      </div>
  </div>
</div>
