
<div class="loader" *ngIf="isLoader"></div>

<div class="login-container">
  <div class="login-form">
      <div class="logo-container">
          <img src="assets/images/login_aditi.png" alt="User Icon" class="login-icon fadeInDown">
      </div>
      <h2>Informe Seu CPF / CNPJ e Senha</h2>
      <form class="login fadeInDown login-input" method="post" name="login" id="loginForm" [formGroup]="formLogin">
        <input type="text" formControlName="login" id="loginInput" class="login-input"
        placeholder="Informe seu CPF/CNPJ" maxlength="18" autocomplete="off"
        (blur)="formatCpfCnpj(formLogin.get('login').value)">
    

          <input type="password" formControlName="password" id="password" class="login-input"
              placeholder="Informe sua Senha" maxlength="100" autocomplete="off" type="{{showPass ? 'text' : 'password' }}">

              <button type="button" class="btn-transparent" (click)="toggleShowPass()">
                <i class="fa" [ngStyle]="{'color': '#757474'}" [ngClass]="{'fa-eye': showPass, 'fa-eye-slash': !showPass}"
                  aria-hidden="true"></i>
              </button>

              <button type="submit" class="fade_8S" name="login" id="loginButton" (click)="login()">Entrar</button>
            </form>
      <div class="login-links">
          <button class="fade_9S" (click)="recuperarSenha()">Resetar Senha</button>
      </div>
      <h2>Versão 1.1</h2>

  </div>
</div>


