<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dialog-body">
        <nb-card>
          <nb-card-body>
            <form id="form-configurar-dia-atendimento" [formGroup]="formDiaAtendimento">
              <div class="col-md-12 col-xs-12">
                <div class="form-row align-items-center">
                  <nb-card-header class="aditi-header">
                    <div class="back-link">
                      <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
                        <nb-icon icon="arrow-back" title="voltar"></nb-icon>
                      </a>
                    </div>
                  </nb-card-header>
                  <div class="form-group col-md-6">
                    <h5 class="pt-3">Configurar Horários de Atendimento</h5>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-4">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="nome">Escolha o médico*</label>
                        <select class="form-control" formControlName="medico"
                        (change)="verificaMedico($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let medico of listMedico" value="{{ medico.id}}">{{
                            medico.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="clinica">Escolha a Clínica*</label>
                        <select class="form-control" formControlName="clinica"
                          (change)="verificaClinica($event.target.value)">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let clinica of listClinica" value="{{ clinica.id }}">{{
                            clinica.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label for="semana">Escolha o Dia da Semana*</label>
                        <select class="form-control" formControlName="semana">
                          <option value="null" selected>SELECIONE</option>
                          <option *ngFor="let semana of listSemana" value="{{ semana.semana }}">{{
                            semana.descricao}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-6">
                    <div class="form-group">
                      <label for="tipo-modalidade">Escolha as Modalidade de Atendimento</label>
                    </div>
                  </div>
                </div>
                <div class="form-row align-items-center pl-4 mt-lg-n4">
                  <div class="form-group col-md-2">
                    <div class="form-group">
                      <div class="div-medico">
                        <label class="tipo-modalidade">
                          <input class="form-check-input" type="checkbox" id="presencial" name="optcheckbox" value="1"
                            (click)="tipoModalidade($event.target.value, $event.target)" />
                          Presencial
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <div class="form-group">
                      <div class="div-medico">
                        <label class="tipo-modalidade">
                          <input class="form-check-input" type="checkbox" id="videoChamada" name="optcheckbox" value="2"
                            (click)="tipoModalidade($event.target.value, $event.target)" />
                          Video Chamada
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label class="tipo-modalidade">
                          <input class="form-check-input" type="checkbox" id="emergencialPresencial" name="optcheckbox"
                            value="3" (click)="tipoModalidade($event.target.value, $event.target)" />
                          Emergencial Presencial
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <div class="form-group">
                      <div class="div-medico">
                        <label class="tipo-modalidade">
                          <input class="form-check-input" type="checkbox" id="emCasa" name="optcheckbox" value="4"
                            (click)="tipoModalidade($event.target.value, $event.target)" />
                          Em Casa
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="form-group">
                      <div class="div-medico">
                        <label class="tipo-modalidade">
                          <input class="form-check-input" type="checkbox" id="videoEmergencial" name="optcheckbox"
                            value="5" (click)="tipoModalidade($event.target.value, $event.target)" />
                          Video Chamada Emergencial
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="col-md-12">
                    <div class="form-group pt-2">
                      <div class="text-right">
                        <button class="btn btn-primary mr-3" (click)="addHora()">
                          Incluir +
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                  <nb-card-body>
                    <section class="align-items-center">
                      <div class="col-md-12 col-xs-12">
                        <form #card="ngForm">
                          <div class="form-row align-items-center">
                            <section class="border-dark m-3 btn mt-lg-n4 paragraph-2 mb-5" style="background-color: white;"
                              *ngFor="let card of tipoCard; let i = index;">
                              <div class="col-md-12 col-xs-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label for="horaInicio">Hora de Início</label>
                                    <i class="fa fa-window-close alert-danger carousel-item-next" aria-hidden="true"
                                      (click)="removerCard()"></i>
                                    <div class="row pl-3">
                                      <input type="time" name="appt" required [(ngModel)]="card.horaInicio" />
                                    </div>
                                    <label for="horaFim">Hora de Término</label> 
                                    <div class="row pl-3">
                                      <input type="time" name="appt" required [(ngModel)]="card.horaFim" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </form>
                      </div>
                    </section>
                  </nb-card-body>

                  <div class="form-row align-items-center" *ngIf="mostrarDiv">
                    <div class="col-md-12">
                      <div class="form-group pt-2">
                        <div class="text-right">
                          <button class="btn btn-success" (click)="salvar(formDiaAtendimento.value)">
                            Salvar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                
<!--
                <div class="form-row align-items-center">
                  <nb-card-body>
                    <section class="align-items-center">
                      <div class="col-md-12 col-xs-12">
                        <form #card="ngForm">
                          <div class="form-row align-items-center">
                            <section class="border-dark m-3 btn mt-lg-n4 paragraph-2 mb-5"
                              style="background-color: white;" *ngFor="let card of tipoCard; let i = index;">
                              <div class="col-md-12 col-xs-12 ">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label for="horaInicio">Hora início</label>
                                    <i class="fa fa-window-close alert-danger carousel-item-next" aria-hidden="true"
                                      (click)="removerCard()"></i>
                                    <div class="row pl-3">
                                      <input type="time" name="appt" required name="card{{card.id}}"
                                        [(ngModel)]="card.horaInicio" />
                                    </div>
                                    <label for="horaFim">Hora fim</label>
                                    <div class="row pl-3">
                                      <input type="time" name="appt" required name="car{{card.id}}"
                                        [(ngModel)]="card.horaFim" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </form>
                      </div>
                    </section>
                  </nb-card-body>
                </div>-->
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
