<div class="container-fluid">
  <nb-card>
    <nb-card-header class="aditi-header">
      <div class="back-link">
        <a class="m-lg-n3" (click)="previousPage()" aria-label="back">
          <nb-icon icon="arrow-back" title="voltar"></nb-icon>
        </a>
      </div>
      <h5>Detalhes do atendimento</h5>
    </nb-card-header>
    <nb-card-body>
      <div class="form-row align-items-center">
        <div class="form-group col-md-6 ">
          <div class="form-group ">
            <div class="form-row">
              <div class="mr-2"><label>Médico: </label></div>
              <label>{{atendimento.medico}} </label>
            </div>
            <div class="form-row">
              <div class="mr-2"><label>Paciente: </label></div>
              <label>{{atendimento.paciente}} </label>
            </div>
            <div class="form-row">
              <div class="mr-2"><label>Data: </label></div>
              <label>{{atendimento.data}} </label>
            </div>
            <div class="form-row">
              <div class="mr-2"><label>Horário: </label></div>
              <label>{{atendimento.horario}} </label>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">
          <div class="form-group ">
            <div class="form-row">
              <div class="mr-2"><label>Forma pagamento: </label></div>
              <label>{{atendimento.formaPagamento}} </label>
            </div>
            <div class="form-row">
              <div class="mr-2"><label>Modalidade: </label></div>
              <label>{{atendimento.modalidade}} </label>
            </div>
            <div class="form-row">
              <div class="mr-2"><label>Status: </label></div>
              <label>{{atendimento.status}} </label>
            </div>
            <div *ngIf="atendimento.nomeResponsavel !== null" class="form-row">
              <div class="mr-2"><label>Responsável: </label></div>
              <label>{{atendimento.nomeResponsavel}} </label>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      <h5>Informações do atendimento</h5>
    </nb-card-header>
    <nb-card-body>
      <div class="form-row">
        <div class="col-lg-6">
          <div><label>Prescrição </label></div>
          <textarea [disabled]="atendimento.status !== '03 - Consulta Confirmada'" rows="10" nbInput shape="round"
            placeholder="Prescrição médica" [value]="atendimento.prescricao"></textarea>
        </div>
        <div class="col-lg-6">
          <div><label>Atestado </label></div>
          <textarea [disabled]="atendimento.status !== '03 - Consulta Confirmada'" rows="10" nbInput shape="round"
            placeholder="Atestado médico" [value]="atendimento.atestado"></textarea>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <nb-actions size="large" fullWidth>
        <nb-action *ngIf="atendimento.status ==='01 - Aguardando Aprovação'
        || atendimento.status ==='03 - Consulta Confirmada'
        || atendimento.status ==='02 - Aguardando Pagamento'" (click)="abrirModalCancelamento()">
          <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
          <span>Cancelar</span>
        </nb-action>
        <nb-action *ngIf="atendimento.status ==='01 - Aguardando Aprovação'
        && atendimento.comprovante !== null" (click)="aprovarPagamento()" >
          <nb-icon class="action-icon" icon="checkmark-circle-outline"></nb-icon>
          <span>Aprovar pagamento</span>
        </nb-action>
        <nb-action *ngIf="atendimento.status ==='03 - Consulta Confirmada'
        && atendimento.modalidade ==='Consulta por Video Chamada'
        && atendimento.urlCall !== null" (click)="goToLink(atendimento.urlCall)">
          <nb-icon class="action-icon" icon="wifi-outline"></nb-icon>
          <span>Iniciar atendimento</span>
        </nb-action>
        <nb-action>
          <nb-icon class="action-icon" icon="archive-outline"></nb-icon>
          <span>Ver histórico</span>
        </nb-action>
        <nb-action *ngIf="(atendimento.status ==='01 - Aguardando Aprovação' || atendimento.status ==='03 - Consulta Confirmada')
        && atendimento.comprovante !== null" (click)="abrirComprovante()">
          <nb-icon class="action-icon" icon="attach-outline"></nb-icon>
          <span>Ver comprovante</span>
        </nb-action>
        <nb-action>
          <nb-icon class="action-icon" icon="phone-call-outline" (click)="abrirConsulta()"></nb-icon>
          <span>Registrar  atendimento</span>
        </nb-action>
      </nb-actions>
    </nb-card-body>
  </nb-card>
</div>

<div #card>
  <div class="col-md-12 col-xs-12">
    <div class="row" *ngIf="isActive" class="loader">
      <div class="text-center" style="margin-top: -300px;margin-right: 40px;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando...
        </button>
      </div>
    </div>
  </div>
</div>

