<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="dialog-body">
                <nb-card>
                    <nb-card-body>
                        <form id="form-novo-atendimento" [formGroup]="formFilaEspera">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-row align-items-center">                                  
                                    <div class="form-group col-md-6">
                                        <h5 class="pt-3">Templates de Atendimento</h5>
                                    </div>
                                </div>

<!-- growth-chart.component.html -->
<div class="form-group col-md-8">
        <canvas id="canvas" class="half-width">

        </canvas>
</div>

                                <div class="row">
                                <div class="form-group col-md-4">
                                    <div class="form-group">
                                        <label for="nome">Escolha o médico</label>
                                        <select class="form-control" formControlName="medico"
                                            (change)="verificaMedico($event.target.value)">
                                            <option value="null" selected>SELECIONE</option>
                                            <option *ngFor="let medico of listMedico" value="{{ medico.id }}">{{
                                                medico.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label for="tipoEspecialidade">Tipo de especialidade*</label>
                                            <select class="form-control" formControlName="tipoEspecialidade"
                                                (change)="especialidade($event.target.value)">
                                                <option value="null" selected>SELECIONE</option>
                                                <option *ngFor="let tipoEspecialidade of listTipoEspecialidade"
                                                    value="{{ tipoEspecialidade.id }}">{{
                                                    tipoEspecialidade.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    <div class="form-group col-md-4">

                                    <div class="text-right">
                                        <button class="btn btn-primary m-4 mt-lg-3"
                                            (click)="pesquisarProposta(formFilaEspera.value)">
                                            Pesquisar
                                        </button>

                                        <button class="btn btn-success m-4 mt-lg-3"
                                        (click)="pesquisarProposta(formFilaEspera.value)">
                                        Cadastrar
                                    </button>
                                    </div>

                                </div>
                            </div>
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-12">
                                        <div class="app-box">
                                            <ngx-datatable #myTable class="bootstrap" [rows]="rowData"
                                                [columnMode]="'force'" [headerHeight]="35" [footerHeight]="50"
                                                [rowHeight]="'auto'" [messages]="{emptyMessage: 'Sem dados...'}"
                                                [limit]="6">

                                                <ngx-datatable-column name="Nome" prop="nome" [width]="190">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="text-left p-2">
                                                            {{ row.name }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Telefone" prop="telefone">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="text-center p-2">
                                                            {{ row.cellPhone }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Email" prop="email" [width]="180">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="text-center p-2">
                                                            {{ row.email }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Data solicitação" prop="dataSolicitacao">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="text-center p-2">
                                                            {{ row.dataSolicitacao }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Observação" prop="observacao">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="text-center p-2">
                                                            {{ row.observacao }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Ações" prop="acoes">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <div class="datatable-body-box-actions">
                                                            <button class="btn home-icon" (click)="visualizar(row)"
                                                                title="Visualizar dependente">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                                        let-pageSize="pageSize" let-selectedCount="selectedCount"
                                                        let-curPage="curPage" let-offset="offset">
                                                        <div>
                                                            <div class="page-count">
                                                                Total de Registros: {{rowCount}}
                                                            </div>
                                                        </div>
                                                        <datatable-pager
                                                            [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                                                            [pagerRightArrowIcon]="'fa fa-angle-double-right '"
                                                            [pagerPreviousIcon]="'fa fa-angle-left'"
                                                            [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage"
                                                            [size]="pageSize" [count]="rowCount"
                                                            [hidden]="!((rowCount / pageSize) > 1)"
                                                            (change)="myTable.onFooterPage($event)">
                                                        </datatable-pager>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>
