input[type=button], input[type=submit], input[type=reset]  {
  
    //border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
   // text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
   // font-size: 13px;
   // -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   // box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    //margin: 5px 20px 40px 20px;
  //  -webkit-transition: all 0.3s ease-in-out;
    //-moz-transition: all 0.3s ease-in-out;
   // -ms-transition: all 0.3s ease-in-out;
   // -o-transition: all 0.3s ease-in-out;
   // transition: all 0.3s ease-in-out;
  }

  .action-icon{
    display: flexbox;
    width: 50;
    height: 50;
  }

  /* Estilize os ícones */
.action-icon {
  font-size: 24px; /* Tamanho do ícone */
  color: #007bff; /* Cor do ícone (azul) */
  transition: color 0.3s; /* Efeito de transição ao passar o mouse */
}

/* Efeito de hover nos ícones */
.action-icon:hover {
  color: #ff5500; /* Nova cor ao passar o mouse (laranja) */
}


  /* Estilos para o loader */
/* Estilos para o loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid rgb(114, 124, 245); /* Azul claro */
  border-top: 16px solid rgb(57, 176, 218); /* Azul mais escuro */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.time_consulta{
    float:left;
    width: 50%;
    height: 55px;
}
.div_date{
    float:left; 
    width: 50%;
    height: 55px;
}

.div_time{
  float:left; 
  width: 30%;
  height: 55px;
}

.valor_consulta{
  float:left; 
  width: 55%;
  height: 55px;
}