<div #card>
  <nb-card>
    <nb-card-body>
      <form id="form-associa-cartao" [formGroup]="formDetalheAtendimento">
        <div class="text-center">
          <h5 class="text-center p-2">Dados Paciente</h5>
          <div class="text-right mt-lg-n5">
            <button type="submit" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close"
              aria-hidden="true" (click)="close()">&times;</button>
          </div>
        </div>
        <div class="modal-dialog modal-dialog-scrollable mt-3">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-row align-items-center">
                <div class="form-group col-md-12 ">
                  <div class="form-group ">
                    <div class="form-row">
                      <div class="mr-2"><label>Médico: </label></div>
                      <label>{{atendimento.medico}} </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Paciente: </label></div>
                      <label>{{atendimento.paciente}}  </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Responsável: </label></div>
                      <label>{{atendimento.nomeResponsavel}}  </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Data: </label></div>
                      <label>{{atendimento.data}} - {{atendimento.horario}}</label>
                    </div>
                    <div *ngIf="atendimento.nameMother !== null" class="form-row">
                      <div class="mr-2"><label>Nome da mãe: </label></div>
                      <label>{{atendimento.nameMother}} </label>
                    </div>
                    <div *ngIf="atendimento.nameFather !== null" class="form-row">
                      <div class="mr-2"><label>Nome do pai: </label></div>
                      <label>{{atendimento.nameFather}} </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Forma pagamento: </label></div>
                      <label>{{atendimento.formaPagamento}} </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Modalidade: </label></div>
                      <label>{{atendimento.modalidade}} </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Status: </label></div>
                      <label>{{atendimento.status}} </label>
                    </div>
                    <div class="form-row">
                      <div class="mr-2"><label>Horário: </label></div>
                      <label>{{atendimento.horario}} </label>
                    </div>
                    <p class="card-text">
                      Consulta Confirmada:
                      <span [style.font-weight]="atendimento?.isConfirmed === 'Horário Confirmado' ? 'bold' : 'bold'" [style.color]="atendimento?.isConfirmed === 'Horário Confirmado' ? 'green' : 'red'">
                        {{ atendimento?.isConfirmed }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <nb-card>
              <nb-card-body>
                <nb-actions size="small" fullWidth>
                  <nb-action *ngIf="atendimento.status === '03 - Consulta Confirmada' && atendimento.modalidade === 'Consulta por Video Chamada' && atendimento.urlCall !== null && atendimento.nomeResponsavel !== 'Bloqueado'"
                             (click)="goToLink(atendimento.urlCall)" title="Iniciar atendimento">
                    <nb-icon class="action-icon" icon="wifi-outline"></nb-icon>
                    <span class="action-label">Iniciar Video Atendimento</span>
                  </nb-action>
            
                  <nb-action  *ngIf="atendimento.nomeResponsavel !== 'Bloqueado'"
                             (click)="abrirConsulta()" title="Atualizar prontuário">
                    <nb-icon class="action-icon" icon="file-outline"></nb-icon>
                    <span class="action-label">Detalhes</span>
                  </nb-action>

                  <nb-action  *ngIf="atendimento.isConfirmed ==='Horário Não Confirmado' && atendimento.nomeResponsavel !== 'Bloqueado'"
                  (click)="confirmarHorario(atendimento)" title="Confirmar Atendimento">
                    <nb-icon class="action-icon" icon="clock-outline"></nb-icon>
                    <span class="action-label">Confirmar Atendimento</span>
                  </nb-action>

                  <nb-action *ngIf="atendimento.nomeResponsavel === 'Bloqueado'" (click)="desbloquear(atendimento)" title="Confirmar Atendimento">
                    <nb-icon class="action-icon" icon="file-outline"></nb-icon>
                    <span class="action-label">Desbloquear</span>
                  </nb-action>
                  
                </nb-actions>
              </nb-card-body>
            </nb-card>
            
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>